@import 'variables'
@import 'typography'
@import 'material'

button
  cursor pointer
  font-size inherit
  font-weight inherit
  line-height inherit
  &.no-style
    background-color transparent
    display inline-block
    border 0
    padding 0
    margin 0
    outline none
    *
      vertical-align middle

button
.button
  cursor pointer
  min-height 36px
  box-sizing border-box
  display inline-block
  border-radius 3px
  line-height 20px
  padding 9px 12px 0px 12px
  user-select none
  font-family sans-family
  border 0
  outline 0
  background-color transparent

  &[disabled]
    pointer-events none
    opacity low-emphasis

  & + .button
  & + button
    margin-left 8px

  &.contained-button
    background-color primary-dark-color
    color alpha(white, high-emphasis)
    padding 9px 16px 0px 16px
    text-align center
    min-width 64px
    @extend .elevation-2

  &.text-button
    background-color transparent
    color alpha(black, high-emphasis)
    user-select none
    &:hover
      background-color hover-layer-color
    .material-icons
      font-size 18px
      line-height 18px
      height 18px
      width 18px
      vertical-align text-top
      margin 0 8px
      &:last-child
        margin-right -4px
      &:first-child
        margin-left -4px


  &.outlined-button
    border solid gainsboro 1px
    background-color transparent
    padding 8px 16px 0px 16px
    text-align center
    min-width 64px
    color alpha(black, high-emphasis)
    &:hover
      background-color gainsboro

  &.icon-button
    min-height 48px
    border-radius 50%
    line-height 48px
    width 48px
    height 48px
    text-align center
    padding 0
    text-decoration none
    color inherit
    &:hover
      background-color hover-layer-color
    i.material-icons
      line-height inherit
      display block

    & + .icon-button
      margin-left 0px

// Form fields
.form-field + .form-field
.form-field:not(:first-child)
  margin-top 1.5rem
