@import '~@/assets/styles/variables'

.minota-actions
  display flex
  box-sizing border-box

  .minota-action
    display flex
    flex-shrink 0
    & + .minota-action
      margin-left 0.5rem

.minota-action
  display flex
  justify-content center
  align-items center
  padding 0.5rem 1rem
  cursor pointer
  border-radius 0.25rem
  user-select none
  font-weight bold
  color alpha(black, medium-emphasis)
  transition all 0.125s ease-out
  font-family inherit
  font-size inherit
  line-height inherit

  a&
    text-decoration none
    display: inline-block

  button&
    border none
    background-color transparent

  .material-icons + *
    margin-left 0.25rem

  &.text
    color inherit
  &.icon
    padding 0.5rem
  &.block
    width 100%
    box-sizing border-box
  &.outline
    box-shadow 0px 0px 0px 2px alpha(black, 0.05)

  &:hover
  &.hover
    background-color button-hover
    color alpha(black, 1)

  &[disabled]
    pointer-events none
    opacity low-emphasis

  &[primary]
    background-color alpha(black, high-emphasis)
    color alpha(white, high-emphasis)
    &:hover
    &.hover
      background-color alpha(black, 1)
      color alpha(white, 1)

  &[outline]
    box-shadow 0px 0px 0px 2px alpha(black, 0.05)
    &:hover
    &.hover
      color alpha(black, 1)

  &[danger]
    color color-danger
    &:hover
      background-color button-hover

  &[danger][primary]
    background-color color-danger
    color alpha(white, high-emphasis)
    &:hover
      background-color color-danger
      color white
