@import '~@/assets/styles/variables'
@import '~@/assets/styles/long-click'

textarea
  display block
  font-family mono-family
  font-size inherit
  line-height inherit
  outline none
  width 100%
  max-width 45rem
  padding 0.5rem
  border solid gainsboro 1px
  box-sizing border-box
  min-height 300px
input
button
  display block
  font-family mono-family
  font-size inherit
  line-height inherit
  outline none
  box-sizing border-box
  cursor pointer

input
  cursor text

a
a:hover
a:visited
a:active
  color steelblue

// Sections

.minota-section-left
  margin-left 0
  margin-right auto
  display flex
  align-items center
.minota-section-right
  margin-right 0
  margin-left auto
  display flex
  align-items center
  justify-content flex-end
.minota-section-center
  margin-left auto
  margin-right auto

// Actions

.minota-actions
  display flex

.minota-action
  padding 0.5rem 1rem
  text-decoration none
  display flex
  align-items center
  justify-content center
  color inherit
  cursor pointer
  font-weight bold
  color alpha(black, medium-emphasis)
  border-radius 0.25rem
  user-select none

  & + .minota-action
    margin-left 0.5rem

  &[primary]
    background-color alpha(black, high-emphasis)
    color alpha(white, high-emphasis)
    &:hover
      background-color alpha(black, 1)
      color alpha(white, 1)

  &:hover
    background-color color-hover

  &.minota-action_text
    color inherit
  &.minota-action_icon
    padding 0.5rem
  &.minota-action_block
    width 100%
    box-sizing border-box
  &.minota-action_outline
    box-shadow 0px 0px 0px 2px alpha(black, 0.05)

  .material-icons + *
    margin-left 0.25rem

  button&
    border none
    background-color transparent
    font-family inherit

  &[disabled]
    pointer-events none
    opacity low-emphasis

  &[danger]
    color brown
    &:hover
      background-color alpha(brown, 0.125)
  &[danger][primary]
    background-color brown
    color alpha(white, high-emphasis)
    &:hover
      background-color brown
      color white
