@import "variables"

.minota-bar
  position fixed
  left 0px
  right 0px
  display flex
  align-content center
  z-index 100
  opacity 1
  transition opacity 0.1s ease-in
  // background-color alpha(ghostwhite, 0.75)
  padding 0.5rem
  @media (min-width screen-md)
    padding 1rem
  @media (min-width screen-lg)
    padding 1.5rem
  @media (min-width screen-xl)
    padding 2rem 3rem

.minota-bar-status
  bottom 0px
  justify-content center

.minota-bar-nav
  top 0px
  justify-content center

.minota-note-fullscreen
  .minota-bar
    opacity 0


/* App Preloader */
#app-preloader
  display block
  .text-subtitle
    letter-spacing 0.25em
    text-transform uppercase
  &.app-loaded
    margin-top -100vh !important
    opacity 0 !important
