@import "variables"
@import "material"

/* App Preloader */
#app-preloader
  display block
  .text-subtitle
    letter-spacing 0.25em
    text-transform uppercase
  &.app-loaded
    margin-top -100vh !important
    opacity 0 !important

// Layout
.text-right
  text-align right

// Screen
.minota-screen
  position relative
  min-height 100vh
  .minota-screen-main
    display flex
    min-height calc(100vh - 56px)
    box-sizing border-box
    @media (min-width screen-sm)
      padding 0.125rem 0.5rem 0.5rem 0.5rem
    @media (min-width screen-md)
      padding 0.25rem 1rem 1rem 1rem

// Drawer
.minota-drawer
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index drawer-index

  display flex
  visibility hidden
  pointer-events none
  &.active
    pointer-events all
    visibility visible

  .minota-drawer-backdrop
    position absolute
    left 0
    right 0
    bottom 0
    top 0
    z-index 0
    background-color backdrop-color

  .minota-drawer-body
    @extend .elevation-8
    position relative
    z-index 2
    background-color white
    width 100%
    height 100%
    overflow auto
    max-width 480px
    margin 0 0 0 auto
    padding 0
    z-index 1

// Line after
.line-after
  position relative
  &:after
    content '';
    display block;
    height 1px;
    position absolute;
    bottom 0;
    left 0;
    right 0;
    background-color gainsboro;
