@import "variables"

/* App Preloader */
#app-preloader
  display block
  .text-subtitle
    letter-spacing 0.25em
    text-transform uppercase
  &.app-loaded
    margin-top -100vh !important
    opacity 0 !important

// Layout
.text-right
  text-align right



