// Breakpoints
screen-sm = 576px
screen-md = 768px
screen-lg = 992px
screen-xl = 1200px

// Opacity
high-emphasis = 0.87
medium-emphasis = 0.6
low-emphasis = 0.38

// Colors
primary-color = #616161
primary-dark-color = #373737
primary-light-color = #8e8e8e
secondary-color = #424242
secondary-dark-color = #1b1b1b
secondary-light-color = #6d6d6d
text-dark-high-emphasis = alpha(black, high-emphasis)
text-dark-medium-emphasis = alpha(black, medium-emphasis)
text-dark-low-emphasis = alpha(black, low-emphasis)
text-light-high-emphasis = alpha(white, high-emphasis)
text-light-medium-emphasis = alpha(white, medium-emphasis)
text-light-low-emphasis = alpha(white, low-emphasis)
background-color = #f8f8f8
background-hover-color = #f0f0f0




